<html>
    <body>
        <div style="display: block;margin:auto;background-color: aqua;">
            <h1> kindofDay </h1>
        </div>
        <form name="add" action="/" method="post">
            
            <input type="text" name="enteredtask" placeholder="User Name">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Enter</button>
         
    </form>
   
    
   
</form>

  

</html>